.left_sidebar {
  box-sizing: border-box;
  width: 15%;
  display: flex;
  flex-direction: column;
  border: 5px dotted rgb(222, 222, 222);
  border-radius: 20px;
  margin-right: 20px;
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 10px;
    }

  }

  .item:hover {
    background-color: rgb(222, 222, 222);
    transition: 0.3s all ease;
    border-radius: 5px;
  }

  .link {
    text-decoration: none;
    list-style-type: none;
    color: black;
  }

  .icon {
    margin-right: 5px;
  }
}


