.user {
    display: flex;
    margin: 10px;
}

.user_photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.user__follow {
    display: flex;
    flex-direction: column;
}

.user__followBtn {
    margin-top: 10px;
    width: 75px;
}

.user__descriptions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user__column {
    margin-left: 20px;
}

.active {
    font-weight: bold;
}