.new_message {
    margin-top: 20px;
    display: flex;
}

.new_message textarea {
    box-sizing: border-box;
    width: 700px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.new_message button {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100px;
    margin-left: 15px;
}