.header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: green;
    margin: 10px;
    padding: 20px;
    height: 100px;
}

.header img {
    margin-left: 25px;
    height: 70px;
}
