.post__avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  
.post {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.post__text {
  font-size: 20px;
}

.post__likes {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  cursor: pointer;
}

.like_img {
  width: 30px;
  height: 30px;
}
