body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.app_wrapper {
  margin: 0 auto;
  max-width: 1380px;
}


.main_wrapper {
  display: flex;


  .page {
    box-sizing: border-box;
    border: 5px dotted rgb(222, 222, 222);;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
  }
}

